@model CategoryCreateVm
@{
    ViewData["Title"] = "Create";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Category</h6>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="text" style="margin-top:10px">
                <button class="btn btn-success" style="color:white;background:#088178!important">Create</button>
                <a href="/Seller/Category/Cancel" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

