@model SliderUpdateVm
@{
    ViewData["Title"] = "Update";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Slider</h6>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button"></label>
                <input asp-for="Button" class="form-control">
                <span asp-validation-for="Button" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount"></label>
                <input asp-for="Discount" class="form-control">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImage"></label>
                <br />
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img style="width:15%" src="~/Assets/assets/products/@Model.ImageUrl" />
                }
                <input asp-for="MainImage" class="form-control">
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>
            <div class="text" style="margin-top:10px">
                <button class="btn btn-success" style="color:white;background:#088178!important">Edit</button>
                <a asp-controller="Slider" asp-action="Cancel" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>
</div>