@model ProductCreateVm
@{
    ViewData["Title"] = "Create";
}
@section styles {
    <style>
        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
            display: none;
        }

        .custom-file-input::before {
            content: 'Select Image';
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            padding: 6px 12px;
            outline: 0;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: #c5c5c5;
        }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

        .custom-file-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Slider</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice"></label>
                <input asp-for="CostPrice" class="form-control">
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice"></label>
                <input asp-for="SellPrice" class="form-control">
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateRange"></label>
                <select asp-for="RateRange" class="form-control">
                    <option value="">None</option>
                    @for (int i = 10; i <= 100; i += 10)
                    {
                        <option value="@i">@i%</option>
                    }
                </select>
                <span asp-validation-for="RateRange" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px">
                <div class="custom-file">
                    <input asp-for="MainImage" accept="image/*" class="custom-file-input" id="customFile">

                </div>
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Categories</label>
                <br/>
                <select class="form-control" asp-for="CategoryId" asp-items='@ViewBag.Category'>
                    <option disabled selected>Select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagsId">Tags</label>
                <select class="form-control" asp-for="TagsId" asp-items='@ViewBag.Tags'>
                    <option disabled selected>Select Tags</option>
                </select>
                <span asp-validation-for="TagsId" class="text-danger"></span>
            </div>
            <div class="text" style="margin-top:10px">
                <button class="btn btn-success" style="color:white;background:#088178!important">Create</button>
                <a asp-controller="Product" asp-action="Cancel" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


