@model ProductCreateVm
@{
    ViewData["Title"] = "Create";
}

<section class="content-main">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                        <a href="/Seller/Product/Index" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" asp-for="Title" placeholder="Type here" class="form-control" id="product_name">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" type="text" class="form-control" asp-for="Price">
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Discount Percent</label>
                                    <div class="row gx-2">
                                        <input placeholder="%" type="number" class="form-control" asp-for="DiscountRate">
                                        <span asp-validation-for="DiscountRate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">Item Condition</label>
                                <select class="form-select" asp-for="Condition" asp-items="@ViewBag.Condition">
                                    <option disabled selected>Select Condition</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Colors</label>
                            <input type="text" asp-for="Color" placeholder="Type here" class="form-control" id="product_name">
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label for="product_name" class="form-label">Stock Number</label>
                            <input type="text" asp-for="StockNumber" placeholder="Type here" class="form-control" id="product_name">
                            <span asp-validation-for="StockNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div> 
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Shipping</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label" asp-for="Width">Width</label>
                                    <input type="text" placeholder="cm" class="form-control" id="product_name">
                                    <span asp-validation-for="Width" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label" asp-for="Height">Height</label>
                                    <input type="text" placeholder="cm" class="form-control" id="product_desc">
                                    <span asp-validation-for="Height" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="product_name" class="form-label" asp-for="Weight">Weight</label>
                            <input type="number" placeholder="gram" class="form-control" id="product_name">
                        </div>
                        <div class="mb-4">
                            <label for="product_name" class="form-label" asp-for="ShippingFee">Shipping fees</label>
                            <span asp-validation-for="ShippingFee" class="text-danger"></span>
                            <input type="number" placeholder="$" class="form-control" id="product_name">
                        </div>
                    </div>
                </div> <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="/Assets/assets/imgs/theme/upload.svg" alt="">
                            <input class="form-control" multiple type="file" asp-for="ProductImages">
                            <span asp-validation-for="ProductImages" class="text-danger"></span><span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Organization</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.Category">
                                    <option disabled selected>Select category</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Tags</label>
                                <select class="form-select" asp-for="TagsId" asp-items="@ViewBag.Tags">
                                    <option disabled selected>Select tags</option>
                                </select>
                                <span asp-validation-for="TagsId" class="text-danger"></span>
                            </div>
                        </div> <!-- row.// -->
                    </div>
                </div> <!-- card end// -->
            </div>

        </div>

    </form>


</section> <!-- content-main end// -->
