@model PaginationVm<IEnumerable<CommentRepliesVm>>
@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.item-checkbox').change(function () {
                var isChecked = $(this).is(':checked');
                var actionButtons = $(this).closest('.row').find('.action-buttons');

                if (isChecked) {
                    $(this).closest('.row').css('background-color', '#ccf0d1');
                } else {
                    $(this).closest('.row').css('background-color', ''); 
                }

                actionButtons.toggle(!isChecked);

                $('#deleteSelectedButton').toggle($('.item-checkbox:checked').length > 0);
            });
            $("#applyFilterButton").click(function () {
                applyFilters();
            });
            $('#deleteSelectedButton').click(function () {
                deleteSelected();
            });
            function deleteSelected() {
                var selectedItems = $('.item-checkbox:checked');
                if (selectedItems.length > 0) {
                    var confirmDelete = confirm('Are you sure you want to delete the selected item(s)?');
                    if (confirmDelete) {
                       
                        selectedItems.each(function () {
                            var itemId = $(this).data('id'); 
                            window.location.href = "/Product/DeleteFromData?id=" + itemId;
                        });
                    }
                } else {
                    alert('Please select at least one item to delete.');
                }
            }

            $("body").on("click", "#prod-pag a.page-link", function (ev) {
                ev.preventDefault(); 
                fetch($(this).attr("href"))
                    .then(res => res.text())
                    .then((data) => $("#productcommentsbody").html(data));
            });
        });

        function applyFilters(productId) {
            var dateFilter = $("#dateFilter").val();
            var statusFilter = $("#statusFilter").val();
            var userFilter = $("#userFilter").val();
            var contentFilter = $("#contentFilter").val();

            $.ajax({
                url: `/Seller/Product/ProductCommentsPagination/${productId}`,
                type: 'POST',
                data: {
                    dateFilter: dateFilter,
                    statusFilter: statusFilter,
                    userFilter: userFilter,
                    contentFilter: contentFilter
                },
                success: function (data) {
                    document.querySelector('#productcommentsbody').innerHTML = data;

                    localStorage.setItem('dateFilter', dateFilter);
                    localStorage.setItem('statusFilter', statusFilter);
                    localStorage.setItem('userFilter', userFilter);
                    localStorage.setItem('contentFilter', contentFilter);
                    
                },
                error: function () {
                    console.log('Error applying filters');
                }
            });
        }

    </script>


    @if (TempData["Create"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @if ((bool)TempData["Create"] == true)
        {
            <script>
                Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Data Created",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Something went wrong",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
    }
    @if (TempData["Delete"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        @if ((bool)TempData["Delete"] == true)
        {
            <script>
                // Display success message if the deletion was successful
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            </script>
        }
        else
        {
            <script>
                // Display error message if something went wrong
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                });
            </script>
        }
    }
    @if (TempData["Update"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        @if ((bool)TempData["Update"] == true)
        {
            <script>
                Swal.fire({
                    title: "Data Updated",
                    text: "Your file has been Updated",
                    icon: "success"
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                });
            </script>
        }
    }
}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Comments List</h2>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center gap-2">
                <div class="col-lg-3 col-md-4 ">
                    @{
                        var firstProductId = Model.Items?.FirstOrDefault()?.Comment?.Product?.Id;
                    }
                    <input type="text" placeholder="Search username..." class="form-control" id="userFilter" oninput="applyFilters(@firstProductId)">
                </div>
                <div class="col-lg-3 col-md-4 ">
                    <input type="text" placeholder="Search content..." class="form-control" id="contentFilter" oninput="applyFilters(@firstProductId)">
                </div>
                <div class="col-md-2 col-4">
                    <input type="date" id="dateFilter" class="form-control" onchange="applyFilters(@firstProductId)">
                </div>
                <div class="col-md-2 col-4">
                    <select class="form-select" id="statusFilter" onchange="applyFilters(@firstProductId)">

                        <option>All statuses</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Archived</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> 


        <div class="card-body" id="productcommentsbody">
            <partial model="Model" name="ProductCommentsPagination" />
        </div> 
    </div> 


</section> 

<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
