@model Reply

@using (Html.BeginForm("AddReply", "Comments"))
{
    @Html.HiddenFor(model => model.CommentId)
    <div class="form-group">
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "Write Reply" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Name" })
    </div>
    <button type="submit" class="btn btn-primary">Submit Reply</button>
}